
<%= link_to 'New Task', new_task_path, class: "btn btn-success btn-sm" %>
<h2>Todo (<%= pluralize(@todo.count, "Task") %>, <%= pluralize(@todo.sum("duration"), "Hour") %>)</h2>
<%= render partial: "table", locals: {tasks: @todo, css_class: "todo"} %>
<h2>Done (<%= pluralize(@done.count, "Task") %>, <%= pluralize(@done.sum("duration"), "Hour") %>)</h2>
<%= render partial: "table", locals: {tasks: @done, css_class: "done"} %>

<%= render partial: "table", locals: {tasks: @todo, css_class: "todo"} %>
<%= render partial: "table", locals: {tasks: @done, css_class: "done"} %>


<br>


